@keyframes scrollDown {
  0% {
    transform: scale(1, 0);
    transform-origin: 0 0; }
  50% {
    transform: scale(1, 1);
    transform-origin: 0 0; }
  50.1% {
    transform: scale(1, 1);
    transform-origin: 0 100%; }
  100% {
    transform: scale(1, 0);
    transform-origin: 0 100%; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 80em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 60em) {
    html {
      font-size: 52%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

img {
  max-width: 100%;
  display: block; }

a {
  text-decoration: none; }

li {
  list-style: none; }

body {
  font-family: 'Montserrat', 'Hiragino Kaku Gothic ProN', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #333333;
  font-size: 1.5rem; }

.heading-primary {
  text-transform: uppercase;
  color: #fff; }
  .heading-primary--main {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 7.2rem; }
    @media only screen and (max-width: 48em) {
      .heading-primary--main {
        font-size: 4.8rem;
        flex-direction: column;
        align-items: flex-start; } }
  .heading-primary--span {
    display: inline-block; }
    .heading-primary--span:not(:first-child) {
      margin-left: 1.5rem; }
    @media only screen and (max-width: 48em) {
      .heading-primary--span:not(:first-child) {
        margin-left: 0; } }
  .heading-primary--sub {
    font-size: 2.4rem;
    letter-spacing: 2.4px;
    display: flex;
    justify-content: center; }
    @media only screen and (max-width: 48em) {
      .heading-primary--sub {
        flex-direction: column;
        align-items: flex-start;
        font-size: 1.6rem;
        margin-top: 1.5rem; } }

.heading-secondary {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #391e88; }
  .heading-secondary--main {
    text-transform: uppercase;
    font-size: 3.6rem; }
  .heading-secondary--sub {
    font-size: 1.3rem;
    margin-top: -1rem; }

.u-text-center {
  text-align: center; }

.u-mb {
  margin-bottom: 3rem; }

.btn {
  text-transform: uppercase;
  border-radius: 100px;
  border: none;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  background-image: linear-gradient(to right, #7633a4, #250d65);
  padding: 2.2rem 7.8rem;
  font-size: 1.4rem;
  outline: none;
  display: inline-block; }
  .btn--header {
    background-color: transparent;
    background-image: none;
    margin-top: 5rem;
    padding: 2.4rem 7.2rem;
    border: 1px solid #fff;
    font-size: 1.5rem; }

.company {
  text-align: center;
  background-image: url(../img/bg-face.png);
  background-repeat: no-repeat;
  background-position: top center;
  padding-bottom: 2rem; }
  @media only screen and (max-width: 80em) {
    .company {
      background-size: contain; } }
  @media only screen and (max-width: 56.25em) {
    .company {
      background-image: none; } }
  .company__goal {
    background-image: linear-gradient(to bottom, transparent 70%, #f5f534 70%);
    font-size: 4rem;
    margin-top: 4rem;
    display: inline; }
  .company__text-box {
    margin: 4rem 0 3rem; }

.contact__text-box {
  text-align: center; }

.contact__text {
  margin: 3.5rem 0 3rem; }

.scroll {
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  right: 2.5rem;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
  writing-mode: vertical-lr;
  letter-spacing: 2px; }
  .scroll__line {
    width: 1px;
    height: 8rem;
    margin-top: 10px;
    background-color: #fff;
    display: inline-block;
    animation: scrollDown 2s cubic-bezier(1, 0, 0, 1) infinite; }

.news {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }
  @media only screen and (max-width: 48em) {
    .news {
      flex-direction: column;
      align-items: center; } }
  .news__content {
    margin-top: 3rem; }
  .news__item {
    display: flex;
    align-items: center;
    flex-wrap: wrap; }
    .news__item:not(:last-child) {
      margin-bottom: 15px; }
  .news__item *:not(:last-child) {
    margin-right: 20px; }
  .news__label {
    width: 8.2rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.5rem 0;
    background-color: #e8e8e8;
    border-radius: 50px; }
  @media only screen and (max-width: 48em) {
    .news__description {
      margin-top: 1.5rem; } }

.recruit {
  display: flex;
  justify-content: space-between; }
  @media only screen and (max-width: 48em) {
    .recruit {
      flex-direction: column-reverse; } }
  .recruit__text-box {
    width: 40%;
    align-self: center;
    text-align: center; }
    @media only screen and (max-width: 48em) {
      .recruit__text-box {
        padding: 6.6rem 0 5rem;
        width: 100%; } }
  .recruit__text {
    margin: 3rem 0; }
  .recruit__img {
    width: 60%; }
    @media only screen and (max-width: 48em) {
      .recruit__img {
        width: 100%; } }

.service__content {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0; }
  @media only screen and (max-width: 56.25em) {
    .service__content {
      flex-direction: column;
      align-items: center; } }

.service__item {
  display: flex;
  flex-direction: column;
  width: calc((100% - 2 * 3rem) / 3); }
  @media only screen and (max-width: 56.25em) {
    .service__item {
      align-self: center;
      width: 100%;
      margin-bottom: 4rem; } }

.service__title {
  text-align: center;
  margin-top: 2.5rem; }

.service__text {
  margin-top: 2rem;
  align-self: center; }

.works {
  padding: 6rem 0 8rem;
  background-image: linear-gradient(to right, transparent 34%, #f0f0f0 34%);
  display: flex;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 56.25em) {
    .works {
      flex-direction: column;
      background-image: linear-gradient(to bottom, transparent 34%, #f0f0f0 34%); } }
  @media only screen and (max-width: 48em) {
    .works {
      padding-top: 0; } }
  .works__inner {
    max-width: 34rem;
    margin-left: 7rem;
    text-align: center; }
    @media only screen and (max-width: 60em) {
      .works__inner {
        margin-left: 5rem; } }
    @media only screen and (max-width: 56.25em) {
      .works__inner {
        margin-left: 0;
        margin-top: 3rem; } }
    @media only screen and (max-width: 48em) {
      .works__inner {
        margin-top: 4.6rem;
        width: 100%; } }
  .works__text {
    margin: 2.5rem 0 3.5rem; }
  .works__img {
    max-width: 75rem;
    box-shadow: 0 0.2rem 0.4rem rgba(51, 51, 51, 0.4); }
    @media only screen and (max-width: 56.25em) {
      .works__img {
        max-width: 90%;
        margin: 0 auto; } }

.header {
  height: 100vh;
  position: relative;
  background-image: url(../img/hero.jpg);
  background-size: cover;
  background-position: right; }
  .header__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: inline-block; }

.footer {
  background-color: #120e19;
  text-align: center;
  padding: 6rem 0; }
  .footer__nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    @media only screen and (max-width: 48em) {
      .footer__nav {
        justify-content: flex-start; } }
  .footer__item {
    margin-left: 3rem;
    margin-bottom: 2rem; }
  .footer__link {
    color: #fff;
    font-weight: 700;
    text-transform: uppercase; }
  .footer__right {
    display: inline-block;
    font-size: 1rem;
    color: #a798b7;
    margin-top: 2.5rem; }

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding: 0 3rem; }
  .nav__links {
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 48em) {
      .nav__links:first-of-type {
        display: none;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        position: absolute;
        background-image: linear-gradient(to bottom, #7633a4, #250d65);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 3000; } }
    .nav__links:last-child {
      justify-content: center; }
  .nav__item {
    font-weight: 700;
    margin-left: 3rem; }
    @media only screen and (max-width: 48em) {
      .nav__item {
        margin-left: 0;
        margin-bottom: 2.4rem;
        font-size: 15px; } }
  .nav__link {
    color: #fff;
    text-transform: uppercase; }
  .nav__line {
    position: relative;
    width: 3rem;
    height: 2px;
    background-color: #fff;
    display: none;
    z-index: 3500; }
    @media only screen and (max-width: 48em) {
      .nav__line {
        display: block; } }
    .nav__line::before, .nav__line::after {
      content: '';
      width: 3rem;
      height: 2px;
      background-color: #fff;
      position: absolute; }
    .nav__line::before {
      top: -0.7rem; }
    .nav__line::after {
      top: 0.7rem; }

.container {
  max-width: 130rem;
  margin: 0 auto; }
  @media only screen and (max-width: 48em) {
    .container {
      padding: 0 2rem; } }

.section-news {
  max-width: 92rem;
  margin: 7rem auto 0; }

.section-service {
  max-width: 110rem;
  margin: 14rem auto; }
  @media only screen and (max-width: 48em) {
    .section-service {
      margin-top: 8rem;
      margin-bottom: 8rem; } }

.section-works {
  max-width: 126rem;
  margin: 0 auto 6rem; }

.section-company {
  background-image: url(../img/bg-circle.png);
  background-position: top center;
  background-repeat: no-repeat;
  padding-top: 14rem;
  padding-bottom: 5.5rem;
  margin-bottom: 6.5rem; }
  @media only screen and (max-width: 48em) {
    .section-company {
      padding-top: 4rem; } }

.section-recruit {
  max-width: 110rem;
  margin: 0 auto 10rem;
  background-color: #f7f7f7; }

.section-contact {
  background-color: #f7f7f7;
  padding: 9rem 0 8rem; }
