// COLORS
$color-white: #fff;
$color-black: #333333;
$color-purple: #391e88;
$color-purple-light: #a798b7;

// BACKGROUND-COLOR
$bg-grey-1: #e8e8e8;
$bg-grey-2: #f0f0f0;
$bg-grey-3: #c0c0c0;
$bg-grey-4: #f7f7f7;
$bg-dark: #120e19;
$bg-purple: #21054d;
$bg-purple-light: #7633a4;
$bg-purple-dark: #250d65;
$bg-yellow: #f5f534;

// FONT
$default-font-size: 1.5rem;

// GUTTER
$gutter: 3rem;
