@import 'abstracts/variables';

@import 'base/animation';
@import 'base/base';
@import 'base/typography';
@import 'base/utilities';

@import 'components/button';
@import 'components/company';
@import 'components/scroll';
@import 'components/news';
@import 'components/recruit';
@import 'components/service';
@import 'components/works';

@import 'layout/header';
@import 'layout/navigation';

@import 'pages/home';
