.article {
	max-width: 75rem;
	margin: 7rem auto 11rem;

	&__title {
		font-size: 3.2rem;
		font-weight: 500;
		margin-bottom: 1rem;
	}
	&__img-box {
		margin-bottom: 6rem;
	}
	&__headline-box {
		margin-bottom: 4rem;
	}
	&__headline {
		font-size: 2.4rem;
		padding-left: 2rem;
		position: relative;

		&::after {
			content: '';
			display: inline-block;
			position: absolute;
			top: 0;
			left: 0;
			width: 6px;
			height: 100%;
			background-color: $color-purple;
			border-radius: 100px;
		}
	}
	&__subheading {
		font-size: 1.8rem;
	}

	&__text {
		margin-top: 3rem;

		&:first-of-type {
			margin-top: 2rem;
		}
	}

	&__sns {
		display: grid;
		max-width: 40rem;
		grid-template-columns: 10rem 6rem 9rem auto;
		column-gap: 1rem;
		margin-top: 4rem;
	}

	&__icon-box {
		color: $color-white;
		display: flex;
		justify-content: center;
		align-items: center;
		border: none;
		border-radius: 4px;
		padding: 0.5rem 0;
		cursor: pointer;

		&--fb,
		&--share {
			background-color: #1877f2;
		}

		&--tw {
			background-color: #1da1f2;
		}

		&--book {
			background-color: #39a4de;
		}
	}
	&__icon {
		width: 1.5rem;
		height: 1.5rem;
		fill: $color-white;
		margin-right: 4px;
	}
	&__good {
		// color: $color-white;
	}
	&__count {
		margin-left: 10px;
	}
}
