.footer {
	background-color: $bg-dark;
	text-align: center;
	padding: 6rem 2rem;

	&__nav {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;

		@include respond(tab) {
			justify-content: flex-start;
		}
	}
	&__item {
		margin-left: 3rem;
		margin-bottom: 2rem;
	}
	&__link {
		color: $color-white;
		font-weight: 700;
		text-transform: uppercase;
	}

	&__right {
		display: inline-block;
		font-size: 1rem;
		color: $color-purple-light;
		margin-top: 2.5rem;
	}
}
