.form {
	margin: 4rem auto 0;
	padding: 9rem;
	background-color: $bg-grey-4;

	@include respond(tab) {
		padding: 4rem;
	}

	// @include respond(phone) {
	// 	padding: 3rem;
	// }

	&__label {
		font-weight: 700;
	}
	&__require {
		position: relative;
		display: inline-block;
		font-size: 1.2rem;
		color: $color-purple;
		padding-left: 0.5rem;
		margin-left: 1rem;

		&::after {
			content: '*';
			display: inline-block;
			font-size: 1rem;
			color: inherit;
			position: absolute;
			left: 0;
			top: 0;
		}
	}
	&__group {
		margin-bottom: 3rem;

		&:nth-last-child(2) {
			margin-bottom: 5rem;
		}
	}

	&__label {
		margin-bottom: 1.5rem;
	}
	&__input {
		display: block;
		max-width: 30rem;
		width: 100%;
		height: 4rem;
		padding: 1rem;
		outline: none;

		@include respond(phone) {
			max-width: 100%;
		}

		&--tel {
			max-width: 20rem;
			@include respond(phone) {
				max-width: 100%;
			}
		}
	}
	&__radio-group {
		display: inline-block;
		margin-right: 3.5rem;

		@include respond(tab) {
			display: block;
			margin-bottom: 1rem;
		}
	}

	&__radio-input {
		display: none;
	}

	&__radio-label {
		position: relative;
		padding-left: 2rem;
		cursor: pointer;
	}
	&__radio-button {
		position: absolute;
		display: inline-block;
		width: 1.8rem;
		height: 1.8rem;
		border-radius: 50%;
		border: 1px solid #aaa;
		top: -0.1rem;
		left: 0;

		&::after {
			content: '';
			display: block;
			width: 1rem;
			height: 1rem;
			border-radius: 50%;
			background-color: orangered;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			opacity: 0;
			transition: opacity 0.2s;
		}
	}
	&__radio-input:checked ~ &__radio-label &__radio-button::after {
		opacity: 1;
	}

	&__textarea {
		max-width: 60rem;
		width: 100%;
		height: 25rem;
		padding: 1rem;

		@include respond(phone) {
			max-width: 100%;
		}
	}

	&__select {
		max-width: 30rem;
		width: 100%;
		padding: 1.5rem 2rem;
		outline: none;

		@include respond(phone) {
			max-width: 100%;
		}
	}
}
