.header {
	height: 100vh;
	position: relative;
	background-image: url(../img/hero.jpg);
	background-size: cover;
	background-position: right;

	&__content {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		display: inline-block;
	}
}
