.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 90px;
	padding: 0 3rem;
	// background-color: orangered;

	&__links {
		display: flex;
		align-items: center;

		&:first-of-type {
			@include respond(tab) {
				display: none;
				flex-direction: column;
				width: 100%;
				height: 100vh;
				position: absolute;
				background-image: linear-gradient(to bottom, $bg-purple-light, $bg-purple-dark);
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				z-index: 3000;
			}
		}
		&:last-child {
			justify-content: center;
		}
	}
	&__item {
		font-weight: 700;
		margin-left: 3rem;

		@include respond(tab) {
			margin-left: 0;
			margin-bottom: 2.4rem;
			font-size: 15px;
		}
	}
	&__link {
		color: $color-white;
		text-transform: uppercase;
	}
	&__line {
		position: relative;
		width: 3rem;
		height: 2px;
		background-color: $color-white;
		display: none;
		z-index: 3500;

		@include respond(tab) {
			display: block;
		}

		&::before,
		&::after {
			content: '';
			width: 3rem;
			height: 2px;
			background-color: $color-white;
			position: absolute;
		}
		&::before {
			top: -0.7rem;
		}
		&::after {
			top: 0.7rem;
		}
	}
}
