.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 90px;
	padding: 0 3rem;
	// background-color: orangered;

	&__links {
		display: flex;
		align-items: center;
		&:last-child {
			justify-content: center;
		}
	}
	&__item {
		font-weight: 700;
		margin-left: 3rem;
	}
	&__link {
		color: $color-white;
		text-transform: uppercase;
	}
	&__line {
		position: relative;
		width: 3rem;
		height: 2px;
		background-color: $color-white;
		display: none;

		&::before,
		&::after {
			content: '';
			width: 3rem;
			height: 2px;
			background-color: $color-white;
			position: absolute;
		}
		&::before {
			top: -0.7rem;
		}
		&::after {
			top: 0.7rem;
		}
	}
}
