.breadcrumb {
	height: 4.5rem;
	background-color: $bg-grey-4;
	display: flex;
	align-items: center;
	padding-left: 16rem;

	@include respond(tab-land) {
		padding-left: 8rem;
	}
	@include respond(tab-port) {
		padding-left: 6rem;
	}
	@include respond(tab-port-sm) {
		padding-left: 4rem;
	}
	@include respond(tab) {
		padding-left: 2rem;
	}

	&__item {
		font-size: 1.2rem;
		text-transform: uppercase;

		&:not(:last-child)::after {
			content: '>';
			display: inline-block;
			padding: 0 1.5rem;
			font-size: 1.2rem;
		}
	}

	&__link {
		color: $color-purple;
		font-weight: 500;
	}
}
