.breadcrumb {
	height: 4.5rem;
	background-color: $bg-grey-4;
	display: flex;
	align-items: center;
	padding-left: 16rem;
	flex-wrap: nowrap;

	@include respond(tab-land) {
		padding: 0 8rem;
	}
	@include respond(tab-port) {
		padding: 0 6rem;
	}
	@include respond(tab-port-sm) {
		padding: 0 4rem;
	}
	@include respond(tab) {
		padding: 0 2rem;
	}

	&__item {
		font-size: 1.2rem;
		font-weight: 500;
		text-transform: uppercase;
		white-space: nowrap;

		&:last-child {
			text-overflow: ellipsis;

			overflow: hidden;
		}

		&:not(:last-child)::after {
			content: '>';
			display: inline-block;
			padding: 0 1.5rem;
			font-size: 1.2rem;

			@include respond(phone) {
				padding: 0.5rem;
			}
		}
	}

	&__link {
		color: $color-purple;
	}

	&__item:last-child &__link {
		color: $color-black;
	}
}
