.btn {
	text-transform: uppercase;
	border-radius: 100px;
	border: none;
	font-weight: 700;
	color: $color-white;
	cursor: pointer;

	&--header {
		background-color: transparent;
		margin-top: 5rem;
		padding: 2.4rem 7.2rem;
		border: 1px solid #fff;
	}
}
