.company {
	// margin-bottom: 5.5rem;
	text-align: center;
	background-image: url(../img/bg-face.png);
	background-repeat: no-repeat;
	background-position: top center;
	padding-bottom: 2rem;
	// background-size: cover;
	@include respond(tab-land) {
		background-size: contain;
	}
	@include respond(tab-port-sm) {
		background-image: none;
	}

	&__goal {
		background-image: linear-gradient(to bottom, transparent 70%, $bg-yellow 70%);
		font-size: 4rem;
		margin-top: 4rem;
		display: inline;
	}
	&__text-box {
		margin: 4rem 0 3rem;
	}
}
