.company {
	// margin-bottom: 5.5rem;
	text-align: center;
	background-image: url(../img/bg-face.png);
	background-repeat: no-repeat;
	background-position: top center;
	// background-size: cover;

	&__goal {
		position: relative;
		font-size: 4rem;
		margin-top: 4rem;
		display: inline-block;

		&::after {
			content: '';
			width: 103%;
			height: 1.2rem;
			background-color: $bg-yellow;
			position: absolute;
			bottom: 1.2rem;
			left: -1.5%;
			z-index: -1;
		}
	}
	&__text-box {
		margin: 4rem 0 3rem;
	}
}
