.news {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;

	@include respond(tab) {
		flex-direction: column;
		align-items: center;
		width: 100%;
		margin: 0 auto;
	}

	&__content {
		@include respond(tab) {
			margin-top: 3rem;
		}
	}

	&__item {
		display: grid;
		grid-template-columns: 8.8rem 8.2rem 1fr;
		column-gap: 2rem;
		width: 100%;
		&:not(:last-child) {
			margin-bottom: 20px;
		}

		@include respond(tab) {
			row-gap: 1rem;
		}
	}
	&__date {
		// padding-top: 0.5rem;

		justify-self: center;
		align-self: flex-start;

		@include respond(tab) {
			align-self: center;
		}
	}

	&__label {
		width: 8.2rem;
		text-align: center;
		font-size: 1.2rem;
		font-weight: 700;
		padding: 0.5rem 0;
		background-color: $bg-grey-1;
		border-radius: 50px;
		align-self: flex-start;
	}
	&__description {
		// width: 70%;
		// padding-top: 0.5rem;
		align-self: flex-start;
		@include respond(tab) {
			grid-column: 1 / 4;
			margin-left: 0.5rem;
		}
	}
	&__link {
		color: inherit;

		&:hover {
			color: $color-purple;
		}
	}
}
