.news {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;

	@include respond(tab) {
		flex-direction: column;
		align-items: center;
		width: 80%;
		margin: 0 auto;
	}

	&__content {
		@include respond(tab) {
			margin-top: 3rem;
		}
	}

	&__item {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		width: 100%;
		margin: 0 auto;
		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}
	&__item *:not(:last-child) {
		margin-right: 20px;
	}

	&__label {
		width: 8.2rem;
		text-align: center;
		font-size: 1.2rem;
		font-weight: 700;
		padding: 0.5rem 0;
		background-color: $bg-grey-1;
		border-radius: 50px;
	}
	&__description {
		@include respond(tab) {
			margin-top: 1.5rem;
			// display: inline-block;
			width: 90%;
		}
	}
	&__link {
		color: inherit;
	}
}
