.overview {
	max-width: 110rem;
	margin: 0 auto;

	@include respond(tab) {
		padding: 0 2rem;
	}

	&__inner {
		display: grid;
		grid-template-columns: 18rem 1fr;
		border-bottom: 1px solid #ddd;
		padding-bottom: 3rem;

		@include respond(phone) {
			padding-bottom: 2rem;
		}

		&:not(:first-child) {
			padding-top: 3rem;

			@include respond(phone) {
				padding-top: 2rem;
			}
		}
	}

	&__title {
		font-weight: 700;
		margin-left: 3rem;
		@include respond(phone) {
			margin-left: 0;
		}
	}

	&__detail {
		@include respond(phone) {
			grid-row-start: 2;
			grid-column: 1 / 4;
			margin-top: 1.5rem;
		}
	}

	&__map-box {
		height: 40rem;
		margin-top: 6rem;
	}

	&__map {
		display: block;
		width: 100%;
		height: 100%;
		margin-bottom: 1rem;
	}
}
