.recruit {
	display: flex;
	justify-content: space-between;
	// max-width: 110rem;

	&__text-box {
		width: 40%;
		align-self: center;
		text-align: center;
	}
	&__text {
		margin: 3rem 0;
	}
	&__img {
		width: 60%;
	}
}
