.recruit {
	display: flex;
	justify-content: space-between;
	// max-width: 110rem;
	@include respond(tab) {
		flex-direction: column-reverse;
	}

	&__text-box {
		width: 40%;
		align-self: center;
		text-align: center;

		@include respond(tab) {
			padding: 6.6rem 0 5rem;
			width: 100%;
		}
	}
	&__text {
		margin: 3rem 0;
	}
	&__img {
		width: 60%;

		@include respond(tab) {
			width: 100%;
		}
	}
}
