.scroll {
	text-transform: uppercase;
	position: absolute;
	bottom: 0;
	right: 2.5rem;
	color: $color-white;
	font-size: 1.2rem;
	font-weight: 700;
	writing-mode: vertical-lr;
	letter-spacing: 2px;

	&__line {
		width: 1px;
		height: 8rem;
		margin-top: 10px;
		background-color: $color-white;
		display: inline-block;
		animation: scrollDown 2s cubic-bezier(1, 0, 0, 1) infinite;
	}
}
