.service {
	&__content {
		display: flex;
		justify-content: space-between;
		margin: 3rem 0;

		@include respond(tab-port-sm) {
			flex-direction: column;
			align-items: center;
		}
	}
	&__item {
		display: flex;
		flex-direction: column;
		width: calc((100% - 2 * #{$gutter}) / 3);
		@include respond(tab-port-sm) {
			align-self: center;
			width: 85%;
			margin-bottom: 4rem;
		}
	}

	&__title {
		text-align: center;
		margin-top: 2.5rem;
	}
	&__text {
		margin-top: 2rem;
		align-self: center;
	}
}
