.works {
	height: 65rem;
	background-image: linear-gradient(to right, transparent 34%, $bg-grey-2 34%);
	display: flex;
	align-items: center;

	&__inner {
		max-width: 34rem;
		margin-left: 7rem;
		text-align: center;
	}
	&__text {
		margin: 2.5rem 0 3.5rem;
	}
}
