.works {
	// height: 65rem;
	padding: 6rem 0 8rem;
	background-image: linear-gradient(to right, transparent 34%, $bg-grey-2 34%);
	display: flex;
	justify-content: center;
	align-items: center;

	@include respond(tab-port-sm) {
		flex-direction: column;
		background-image: linear-gradient(to bottom, transparent 34%, $bg-grey-2 34%);
	}

	@include respond(tab) {
		padding-top: 0;
	}

	&__inner {
		max-width: 34rem;
		margin-left: 7rem;
		text-align: center;

		@include respond(tab-port) {
			margin-left: 5rem;
		}
		@include respond(tab-port-sm) {
			margin-left: 0;
			margin-top: 3rem;
		}
		@include respond(tab) {
			margin-top: 4.6rem;
			width: 100%;
		}
	}
	&__text {
		margin: 2.5rem 0 3.5rem;
	}
	&__img {
		max-width: 75rem;
		box-shadow: 0 0.2rem 0.4rem rgba($color-black, 0.4);
		@include respond(tab-land-md) {
			width: 65rem;
		}

		@include respond(tab-port-sm) {
			max-width: 100%;
			margin: 0 auto;
		}

		@include respond(tab) {
			width: 80%;
		}
	}
}
