.works {
	// height: 65rem;
	padding: 6rem 0 8rem;
	background-image: linear-gradient(to right, transparent 34%, $bg-grey-2 34%);
	display: flex;
	justify-content: center;
	align-items: center;

	&__inner {
		max-width: 34rem;
		margin-left: 7rem;
		text-align: center;

		@include respond(tab-port) {
			margin-left: 5rem;
		}
	}
	&__text {
		margin: 2.5rem 0 3.5rem;
	}
	&__img {
		max-width: 75rem;
		box-shadow: 0 0.2rem 0.4rem rgba($color-black, 0.4);
		@include respond(tab-land-md) {
			width: 65rem;
		}
	}
}
