*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;

	@include respond(tab-land) {
		font-size: 56.25%;
	}
	@include respond(tab-port) {
		font-size: 52%;
	}
	@include respond(tab-port-sm) {
		font-size: 50%;
	}
	@include respond(big-desktop) {
		font-size: 75%;
	}
}

body {
	box-sizing: border-box;
}
img {
	max-width: 100%;
	display: block;
}

a {
	text-decoration: none;
	color: $color-white;
}

li {
	list-style: none;
}
