body {
	font-family: 'Montserrat', 'Hiragino Kaku Gothic ProN', sans-serif;
	line-height: 1.8;
	font-weight: 400;
	color: $color-black;
	font-size: $default-font-size;
}

.heading-primary {
	text-transform: uppercase;
	color: $color-white;

	&--main {
		display: block;
		font-weight: 700;
		font-size: 7.2rem;
	}

	&--sub {
		font-size: 2.4rem;
		letter-spacing: 2.4px;
	}
}

.heading-secondary {
	display: flex;
	flex-direction: column;
	color: $color-purple;
	// text-align: center;

	&--main {
		text-transform: uppercase;
		font-size: 3.6rem;
	}

	&--sub {
		font-size: 1.3rem;
		align-self: center;
		margin-top: -1rem;
	}
}
