body {
	font-family: 'Montserrat', 'Hiragino Kaku Gothic ProN', sans-serif;
	line-height: 1.5;
	font-weight: 400;
	color: $color-black;
	font-size: $default-font-size;
}

.heading-primary {
	text-transform: uppercase;
	color: $color-white;
	// display: inline-block;

	&--main {
		display: flex;
		justify-content: center;
		font-weight: 700;
		font-size: 7.2rem;

		@include respond(tab) {
			font-size: 4.8rem;
			flex-direction: column;
			align-items: flex-start;
		}
	}
	&--span {
		display: inline-block;
		&:not(:first-child) {
			margin-left: 1.5rem;
		}

		@include respond(tab) {
			&:not(:first-child) {
				margin-left: 0;
			}
		}
	}

	&--sub {
		font-size: 2.4rem;
		letter-spacing: 2.4px;
		display: flex;
		justify-content: center;

		@include respond(tab) {
			flex-direction: column;
			align-items: flex-start;
			font-size: 1.6rem;
			margin-top: 1.5rem;
		}
	}
}

.heading-secondary {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: $color-purple;
	// text-align: center;

	&--main {
		text-transform: uppercase;
		font-size: 3.6rem;
	}

	&--sub {
		font-size: 1.3rem;
		margin-top: -1rem;
	}
}
