.container {
	max-width: 130rem;
	margin: 0 auto;
}

.section-news {
	max-width: 92rem;
	margin: 7rem auto 0;
}

.section-service {
	max-width: 110rem;
	margin: 14rem auto;
}

.section-works {
	max-width: 126rem;
	margin: 0 auto 6rem;
}

.section-company {
	// height: 60rem;
	background-image: url(../img/bg-circle.png);
	// background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	padding-top: 14rem;
	padding-bottom: 5.5rem;
	margin-bottom: 6.5rem;
}

.section-recruit {
	max-width: 110rem;
	margin: 0 auto 10rem;
	background-color: $bg-grey-4;
}
