.container {
	max-width: 130rem;
	margin: 0 auto;
}

.section-news {
	max-width: 92rem;
	margin: 7rem auto 0;
}

.section-service {
	max-width: 110rem;
	margin: 14rem auto;
}

.section-works {
	max-width: 126rem;
	margin: 0 auto 6rem;
}

.section-company {
	height: 60rem;
	background-image: url(../img/bg-circle.png);
}
