.container {
	max-width: 130rem;
	margin: 0 auto;

	@include respond(tab-port-sm) {
		// padding: 0 5rem;
	}

	@include respond(tab) {
		padding: 0 2rem;
	}
}

.section-news {
	max-width: 92rem;
	margin: 7rem auto 0;

	@include respond(tab-land) {
		margin-top: 5rem;
	}
	@include respond(tab) {
		margin-top: 3rem;
	}
}

.section-service {
	max-width: 110rem;
	margin: 14rem auto;

	@include respond(tab) {
		margin-top: 8rem;
		margin-bottom: 8rem;
	}
}

.section-works {
	max-width: 126rem;
	margin: 0 auto 6rem;
}

.section-company {
	// height: 60rem;
	background-image: url(../img/bg-circle.png);
	// background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	padding-top: 14rem;
	padding-bottom: 5.5rem;
	margin-bottom: 6.5rem;

	@include respond(tab) {
		padding-top: 4rem;
	}
}

.section-recruit {
	max-width: 110rem;
	margin: 0 auto;
	background-color: $bg-grey-4;
}

.section-contact {
	background-color: $bg-grey-4;
	padding: 9rem 0 8rem;
	margin-top: 10rem;
}
