.works-page {
	max-width: 110rem;
	margin: 7rem auto 10rem;

	@include respond(tab-port) {
		padding: 0 6rem;
	}

	@include respond(tab-port-sm) {
		padding: 0 4rem;
	}
	@include respond(tab) {
		padding: 0 2rem;
	}

	&__container {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		grid-gap: 3rem;
	}
	&__client {
		text-align: center;
		margin-top: 1.5rem;
	}

	&__img {
		box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2);
	}
}
